
<h3 align="center" >Hi <%= %>, what you want to do? </h3>


<div class="panel-body">
<div class="row">

  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

</div>



<div class="jumbotron">
 <div class="container">
    <h2>Welcome!</h2>
  <p>Already you can enter to the better model marketplace, you can search a models or post your photobooks to modeling <a href="#">Read more</a></p>
  <p><a class="btn btn-primary btn-lg" href="" role="button">Join in!</a></p>
  </div>
</div>


<H3>Our last models</H3>
<% Model.last(6).each do |model|  %>
 <div class="col-xs-6 col-md-2">
    <a href="<%= %>" class="thumbnail">
      <img src="http://www.freeiconspng.com/uploads/user-icon-png-person-user-profile-icon-20.png" alt="<%= model.name %>">
    </a>
</div>
<% end %>






